body {
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
text-align: center;
}

div.header {
text-align: center;
}

div.content {
text-align: center;
width: 460px;
margin-left: auto;
margin-right: auto;
line-height: 150%;
}

div.chapbookcontent {
text-align: center;
width: 600px;
margin-left: auto;
margin-right: auto;
line-height: 150%;
}

div.footer {
text-align: center;
}

a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: underline;
color: #FF0000;
}
a:active {
text-decoration: none;
}
